/* Estilos generales para el inventario */
h1 {
	font-size: 2em;
	color: #333;
	text-align: center;
	margin-bottom: 20px;
}

/* Estilos para cada ingrediente */
.ingredient {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px;
	margin: 10px 0;
	background-color: #f9f9f9;
	transition: background-color 0.3s;
}

.ingredient:hover {
	background-color: #f1f1f1;
}

/* Estilos para el nombre del ingrediente */
.ingredient .name {
	font-size: 1.5em;
	color: #555;
	margin-bottom: 10px;
}

/* Estilos para los valores de cantidad */
.ingredient .quantity_values {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.ingredient .quantity,
.ingredient .warning_quantity {
	font-size: 1em;
	color: #777;
}

/* Estilos para el peso total */
.ingredient .total_weight {
	font-size: 1em;
	color: #777;
}

/* Estilos para el contenedor de inventario */
.inventory-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-right: 320px; /* Espacio reservado para ToastContainer */
}

.inventory-list {
	flex: 1;
	margin-right: 20px; /* Espacio para separación visual */
}

/* Estilos para cada grupo de inventario */
.inventory-group {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px 0;
}

.inventory-group summary {
	background-color: #f1f1f1;
	padding: 10px;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ingredient-count {
	font-size: 0.9em;
	color: #888;
}

/* Estilos para el ToastContainer */
#toast-container {
	position: fixed;
	top: var(--navbar-height, 50px); /* Ajuste según la altura del navbar */
	right: 0;
	width: 320px;
	max-height: 80vh;
	overflow-y: auto; /* Para manejar overflow si hay muchas notificaciones */
}

/* Estilos para estados críticos y de advertencia */
.ingredient.critical {
	background-color: #ffa3a3; /* Rojo claro para estado crítico */
}

.ingredient.warning {
	background-color: #ffe085; /* Amarillo claro para estado de advertencia */
}
